{% extends 'base.html' %}
{% block title %} IUCN Search {% endblock %}
{% block content %}

<article class="panel is-success">
  <p class="panel-heading">
  </p>
</article>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home:index' %}"><span class="icon is-small">
          <i class="fa-solid fa-frog"></i>
        </span>
        <span><strong>Amphibians Worldwide</strong></span>
        <span class="icon is-small">
          <i class="fa-solid fa-earth-europe"></i>
        </span></a></li>

    <li class="is-active"><a href="#" aria-current="page"><span class="icon is-small">
          <i class="fa-solid fa-circle-exclamation"></i></span>
        <span> <strong>IUCN</strong></span></a></li>

  </ul>
</nav>


<section class="section">
  <div class="container">

    <div class="columns is-multiline  is-mobile">
      {% for iucn in iucn_list %}
      <div class="column is-one-quarter has-text-centered">
        <div class="card csscard csscard-nav has-background-light">

          <div class="card-image csscardimage-nav csscardimage">
            <figure class="image is-960x960">
              <img src="">
            </figure>
          </div>

          <div class='content'>
            {% if iucn.iucn_status == 'CR' %}
            <p class='title is-4'>Critically Endangered</p>
            {% elif iucn.iucn_status == 'DD' %}
            <p class='title is-4'>Data Deficient</p>
            {% elif iucn.iucn_status == 'EN' %}
            <p class='title is-4'>Endangered</p>
            {% elif iucn.iucn_status == 'EW' %}
            <p class='title is-4'>Extinct in the Wild</p>
            {% elif iucn.iucn_status == 'EX' %}
            <p class='title is-4'>Extinct</p>
            {% elif iucn.iucn_status == 'LC' %}
            <p class='title is-4'>Least Concern</p>
            {% elif iucn.iucn_status == 'NT' %}
            <p class='title is-4'>Near Threatened</p>
            {% elif iucn.iucn_status == 'VU' %}
            <p class='title is-4'>Vulnerable</p>
            {% else %}
            <p class='title is-4'> {{ iucn.iucn_status }}</p>
            {% endif %}
          </div>

          <div class='content'>
          </div>

          <footer class='card-footer has-background-warning'>
            <a href="{% url 'home:species_iucn' iucn_id=iucn.iucn_id %}"
              class='card-footer-item'><strong>Species</strong> </a>
          </footer>
        </div>
      </div>
      {% endfor %}


      <div class="columns is-mobile">
        <div class="column is-centered">
          <p><strong>IUCN</strong> (International Union for Conservation of Nature ) animal endangerment classification
            is universally recognised as assessing a species threat from extinction. For more information regarding
            these classifications please consult the <a href="https://www.iucnredlist.org/"><strong>IUCN Red
                List</strong></a>.</p>
        </div>
      </div>
      
    </div>
</section>




{% endblock %}